doctype html
html
    head
        title= 'Calculator'
        style.
            h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
    body
        h1 Result: #{ result }
